<!doctype html>
<html lang="en">
<%- include('../partials/head'); %>
<body style="padding:40px;">
<div class="position-relative"><div class="position-absolute top-100 start-50 translate-middle logo">iPlanner .</div></div>
<div class="card text-center" style="width: 500px;margin-left: 35%;margin-bottom: 10%;margin-top: 50px;">
    <img src="/images/login.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form method="post" href="/login">
            <div class="mb-3">
                <input required name="username" type="text" class="form-control" placeholder="Username" />
            </div>
            <div class="mb-3">
                <input required name="password" type="password" class="form-control" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-primary login-button">Login</button>
        </form>
    </div>
</div>
<%- include('../partials/scripts'); %>
<%- include('../partials/footer'); %>
<script type="text/javascript">
    $(function () {
        const swalBootstrap = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary'
            },
            buttonsStyling: false
            });
        $(".login-button").click(function(e){
            if($("input[name='username']").val() == "" || $("input[name='password']").val() == ""){
                e.preventDefault();
                swalBootstrap.fire('Please complete the username and password fields');
            }else{
                Swal.fire({
                title: 'Verifying your credentials',
                html: '',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                },
                willClose: () => {

                }
                }).then((result) => {
                    
                });
            }
        });
    });
</script>
</body>
</html>