<!-- Modal -->
<div class="modal fade" id="SearchModal" tabindex="-1" aria-labelledby="Search" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="SearchModal">Search Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> 
        <div class="modal-body">
            <form method="post" action="/search">
                <div class="row">
                    <div class="col-auto">
                        <p>Search in...</p>
                        <input type="text" name="search_term" id="search_i_term" hidden />
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[leads]" checked>
                            <label class="form-check-label">Leads</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[contacts]">
                            <label class="form-check-label">Contacts</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[venues]">
                            <label class="form-check-label">Venues</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[bookings]">
                            <label class="form-check-label">Bookings</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[invoices]">
                            <label class="form-check-label">Invoices</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[contracts]">
                            <label class="form-check-label">Contracts</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[proposals]">
                            <label class="form-check-label">Proposals</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[users]">
                            <label class="form-check-label">Users</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[notes]">
                            <label class="form-check-label">Notes</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="tables[]" name="tables[taxes]">
                            <label class="form-check-label">Taxes</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <p>Filters...</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="time_filters_off" name="time_filter_off">
                            <label class="form-check-label" for="flexSwitchCheckChecked">No time filters</label>
                        </div>
                        <label id="lblfrom_i">From</label>
                        <input class="form-control" type="date" name="from_n" id="from_i" />
                        <label id="lblto_i">To</label>
                        <input class="form-control" type="date" name="to_n" id="to_i" />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" style="width:100px;">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#time_filters_off').on('change',function(){
        if($('input[id="time_filters_off"]:checked').length > 0){
            console.log('checked');
            $('#from_i').attr('disabled','disabled');
            $('#to_i').attr('disabled','disabled');
        }else{
            $('#from_i').removeAttr('disabled');
            $('#to_i').removeAttr('disabled');
        }
    });
    $('#search_btn1').on('click',function(){
        var search_text = document.getElementById('s_term').value;
        $('#search_i_term').val(search_text.replace(/[^a-zA-Z ]/g, ""));
    });
});
</script>
<footer>
    <div class="fixed-bottom"><p class="text-center text-muted">Powered by <img src="/images/ITlogo-icon.jpg" width="30px" /><img src="/images/ITlogo-text.jpg" width="100px"></p></div>
</footer>