<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico">
    <title>Manatee Management</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap5.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap" rel="stylesheet"> 
    <!-- Custom styles for this template -->
    <!--link href="/css/dashboard.css" rel="stylesheet"-->
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <!-- <link href="/css/jquery.css" rel="stylesheet" type="text/css"> https://www.jqueryscript.net/css/jquerysctipttop.css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/monthly.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css">
    <!--<link rel="stylesheet" href="/calendar/spinner.css" type="text/css">
    <link rel="stylesheet" href="/calendar/calendar.css" type="text/css">
    link rel="stylesheet" href="/calendar/theme.css" type="text/css"-->
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- Editors -->
    <link rel="stylesheet" href="https://editor-latest.s3.amazonaws.com/v3/css/froala_style.min.css" type="text/css">
    <link rel="stylesheet" href="https://editor-latest.s3.amazonaws.com/v3/css/froala_editor.pkgd.min.css" type="text/css">
    <link rel="/css/tinymce.css" rel="stylesheet" type="text/css">
    <link rel="https://unpkg.com/@material-ui/core@latest/umd/material-ui.production.min.js" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
    <!--<link rel="stylesheet" type="text/css" href="/css/multiple-select.css">--> 
    <!-- Google Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />-->
    <!--<link href="/css/select.css" rel="stylesheet" />-->
</head>